body{
	background-image: url(background.jpg);
}
.container
{
	position: absolute;
	left :10%;
	right: 10%;
	width: 1100px;
	height: 1500px;
	padding: 5px;
	background-color: #f2f680;
	box-sizing: border-box;
	border border-radius: 10px;
	box-shadow: 0 15px 50px;
}

h1{
	text-align: justify-all; 
	color: lightyellow;
	background-color: #fda8a8;
}

p{
	color: purple;
	font-family: amiri;
	font-size: 20;

}

h2{
	text-align: center; 
	color: #f1478b;
}

img{
	border-radius: 50%;
	width: 200px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul{
	font-family: amiri;
	color: purple;
}
button{
	background: pink;
	color: white;
	padding: 5px 10px;
	text-align: center;
	font-family: Comic Sans MS;
	text-decoration: none;
	border-radius: 10px
}